:root {
  --purple: #792F91;
  --black: rgba(34,36,38,0.87);
  --orange: #F07A28;
  --yellow: #FAD846;
  --white: #CCE2FF;
  --red: #D43F4D;
  --green: #4DB737;
}

.app {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 80px 120px 1fr 80px;
  grid-template-areas:
    "header header header"
    ". tutors ."
    ". main ."
    ". footer .";
  background-color: var(--purple);
  color: white;
}

header {
  grid-area: header;
  align-self: center;
}

.available-tutors {
  grid-area: tutors;
}

main {
  overflow: auto;
  grid-area: main;
}

footer {
  grid-area: footer;
  align-self: center;
}

.clickable {
  cursor: pointer;
}

.help-btn {
  white-space: pre;
}


.help-btn:before {
  content: '\1F64B       ';
}

.help-btn:after {
  content: '       \1F64B';
}

div.menu.transition.visible {
  max-height: 500px !important; /* displays full list of unit options on help request modal */
}

.request-header {
  background-color: var(--orange) !important;
  color: var(--white) !important;
}

.request-row {
  background-color: var(--yellow) !important;
}

button.ui.red.button {
  background-color: var(--red) !important;
  color: var(--black) !important;
}

button.ui.red.button.cancel {
  background-color: var(--red) !important;
  color: white !important;
}

button.ui.green.button {
  background-color: var(--green) !important;
  color: white !important;
}