:root {
  --purple: #792F91;
  --black: rgba(34,36,38,0.87);
  --orange: #F07A28;
  --yellow: #FAD846;
  --white: #CCE2FF;
  --red: #D43F4D;
  --green: #4DB737;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: auto auto auto 1fr;
  grid-row-gap: 10px;
  grid-template-areas:
    ". header ."
    ". form ."
    ". tutors ."
    ". main ."
}

header {
  grid-area: header;
}

.help-form {
  grid-area: form;
}

.available-tutors {
  grid-area: tutors;
}

main {
  overflow: auto;
  grid-area: main;
}

footer {
  grid-area: footer;
  align-self: center;
}

.clickable {
  cursor: pointer;
}

div.menu.transition.visible {
  max-height: 500px !important; /* displays full list of unit options on help request modal */
}

button.ui.red.button.cancel {
  background-color: var(--red) !important;
  color: white !important;
}

button.ui.green.button {
  background-color: var(--green) !important;
  color: white !important;
}

.header-panel {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.currentTime {
  align-self: end;
}

hr {
  border-top: solid 2px black;
}

.help-title {
  color: red;
  font-weight: normal;
  margin: 0.5em 0;
}

.input-field {
  flex: 2;
}

.input-field-short {
  flex: 1;
}

form {
  display: flex;
}

.request-row-trash {
  text-align: center !important;
  background-color: var(--red);
  color: white;
}